---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import cv from '@cv';

const {
  basics: { siteLogo, siteName },
} = cv;

const [iconSize, logoSize] = [24, 30];
---

<header class='p-5'>
  <nav class='flex justify-between items-center top-0 z-10'>
    <h1 class='text-2xl text-gray-800 dark:text-gray-50 font-bold'>
      <a href='/' class='inline-flex'>
        <Image
          src={siteLogo}
          alt={siteName}
          height={logoSize}
          width={logoSize}
          loading='eager'
        />
        <span class='ml-2'>hectorolea</span>
        <span class='text-gray-500 dark:text-gray-600'>dev</span>
      </a>
    </h1>
    <div class='flex items-center'>
      <ul class='flex items-center space-x-6'>
        <li>
          <button type='button' id='theme-selector'>
            <span class='hidden dark:inline'
              ><Icon name='sun' size={iconSize} /></span
            >
            <span class='dark:hidden'><Icon name='moon' size={iconSize} /></span
            >
          </button>
        </li>
      </ul>
    </div>
  </nav>
</header>

<script>
  document.getElementById('theme-selector')?.addEventListener('click', () => {
    localStorage.theme = localStorage.theme === 'dark' ? 'light' : 'dark';
    document.documentElement.classList.toggle('dark');
  });
</script>
