---
import Hero from '@/components/Hero.astro';
import Layout from '@/layouts/Layout.astro';
import cv from '@cv';

const {
  basics: { siteName, summary, name, label, siteLogo },
} = cv;
---

<Layout
  title={`${name} | ${label}`}
  site={siteName}
  description={summary}
  image={siteLogo.og}
>
  <section
    class='min-h-[75vh] place-content-center place-items-center px-5 animate-fade'
  >
    <Hero />
  </section>
</Layout>
