---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import cv from '@cv';

const {
  basics: { logo, darkLogo, siteName },
} = cv;

const [iconSize, logoSize] = [24, 30];
---

<header class='p-5'>
  <nav class='flex justify-between items-center top-0 z-10'>
    <h1 class='text-xl text-gray-800 font-bold'>
      <a href='/'>
        <span class='dark:hidden'>
          <Image
            src={logo}
            alt={siteName}
            height={logoSize}
            width={logoSize}
            class='w-[80%] h-[80%]'
            loading='eager'
          />
        </span>
        <span class='hidden dark:inline'>
          <Image
            src={darkLogo}
            alt={siteName}
            height={logoSize}
            width={logoSize}
            class='w-[80%] h-[80%]'
          />
        </span>
      </a>
    </h1>
    <div class='flex items-center'>
      <ul class='flex items-center space-x-6'>
        <li>
          <button type='button' id='theme-selector'>
            <span class='hidden dark:inline'
              ><Icon name='sun' size={iconSize} /></span
            >
            <span class='dark:hidden'><Icon name='moon' size={iconSize} /></span
            >
          </button>
        </li>
      </ul>
    </div>
  </nav>
</header>

<script>
  document.getElementById('theme-selector')?.addEventListener('click', () => {
    localStorage.theme = localStorage.theme === 'dark' ? 'light' : 'dark';
    document.documentElement.classList.toggle('dark');
  });
</script>
