---
import cv from '@cv';
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';

const {
  basics: { name, summary, label, avatar, resumePdf },
  connect: { socials },
} = cv;

const [iconSize, imageSize] = [30, 150];
---

<div class='flex flex-col items-center gap-y-2'>
  <Image
    src={avatar}
    alt={name}
    height={imageSize}
    width={imageSize}
    class='w-38 h-38 rounded-3xl my-border'
    loading='eager'
  />
  <h1 class='text-3xl md:text-4xl tracking-tight'>
    {name}
  </h1>
  <h2 class='text-2xl md:text-3xl tracking-wide leading-tight'>
    {label}
  </h2>
  <div class='flex flex-wrap justify-center mt-2 md:mt-2'>
    {
      socials.map(({ url, label, icon }) => (
        <a
          href={url}
          class='pointer-events-auto inline-flex gap-2 items-center my-border'
          target='_blank'
          rel='noopener noreferrer'
        >
          <Icon name={icon} size={iconSize} />
          {label}
        </a>
      ))
    }
  </div>
  <p
    class='mt-2 text-gray-700 dark:text-gray-300 text-md md:text-lg text-justify tracking-wide'
  >
    {summary}
  </p>
  <div>
    <a
      class='inline-flex gap-2 items-center my-border'
      href={resumePdf}
      target='_blank'
      rel='noopener noreferrer'
    >
      <Icon name='download' size={iconSize} />
      <span>download my resume</span>
    </a>
  </div>
</div>

<style>
  .my-hover {
    @apply hover:bg-gray-950 hover:text-gray-50 hover:dark:bg-gray-50 hover:dark:text-gray-950;
  }
  a {
    @apply text-sm py-1 px-2 m-2 rounded-lg my-hover transition-all ease-in-out duration-300  hover:border-transparent;
  }

  .my-border {
    @apply border border-gray-950 dark:border-gray-50;
  }
</style>
