---
import Footer from '@/components/shared/Footer.astro';
import Header from '@/components/shared/Header.astro';
import '@fontsource-variable/source-code-pro';

interface Props {
  title: string;
  site: string;
  description: string;
  image: string;
}

const { title, site, description, image } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <meta name='description' content={description} />
    <meta property='og:site_name' content={site} />
    <meta property='og:title' content={title} />
    <meta property='og:description' content={description} />
    <meta property='og:image' content={image} />
    <meta name='description' content='/' />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  body {
    font-family: 'Source Code Pro Variable', monospace;
    font-weight: 375;
    font-variation-settings:
      'wdth' 75,
      'wght' 375;
    @apply m-auto max-w-xl bg-white text-gray-900 dark:bg-black dark:text-gray-50;
  }

  h1 {
    font-family: 'Source Code Pro Variable', monospace;
    font-weight: 400;
    font-variation-settings:
      'wdth' 75,
      'wght' 400;
  }

  h2 {
    font-family: 'Source Code Pro Variable', monospace;
    font-weight: 325;
    font-variation-settings:
      'wdth' 75,
      'wght' 325;
  }
</style>
<script is:inline>
  if (
    localStorage.theme === 'dark' ||
    (!('theme' in localStorage) &&
      window.matchMedia('(prefers-color-scheme: dark)').matches)
  ) {
    document.documentElement.classList.add('dark');
  } else {
    document.documentElement.classList.remove('dark');
  }
</script>
